* {
  box-sizing: border-box;
}

body,
html,
.root {
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
}

.header {
  width: 100%;
  background-color: #531554;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header__inFront {
  width: 90%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 90%;
}
.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 10%;
}
.nav__logo--img {
  width: 40px;
}
.nav__logo--h5 {
  color: #fff;
  font-size: 1.5em;
  margin-left: 10px;
}
.nav__elements {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__elements--ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.nav__elements--li {
  list-style: none;
}
.nav__elements--a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  text-underline-position: under;
}
.nav__elements--a:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.nav__signUpLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__signUpLinks--a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  text-underline-position: under;
  padding: 15px;
}
.nav__signUpLinks--a:hover {
  text-decoration: underline;
  transition: 0.5s;
}
.nav__signUpLinks--aNormal {
  border: solid 1px white;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
  margin-left: 15px;
  margin-right: 15px;
}
.nav__signUpLinks--aNormal:hover {
  background-color: #fff;
  text-decoration: none;
  color: #531554;
  transition: 0.5s;
}
.nav__signUpLinks--aSlack {
  background-color: #fff;
  border: solid 2px white;
  border-radius: 5px;
  color: #531554;
  text-transform: uppercase;
  transition: 0.5s;
}
.nav__signUpLinks--aSlack:hover {
  text-decoration: none;
  border: solid 2px #531554;
  transition: 0.5s;
}

.navbar__button {
  display: none;
}

.aboveTheFold {
  width: 100%;
  color: #fff;
  text-align: center;
}
.aboveTheFold__h1 {
  font-size: 2.75rem;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 15px;
}
.aboveTheFold__accentColor {
  color: #e5b43a;
}
.aboveTheFold__p {
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 15px;
}

.header__signUp {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.header__signUp--a {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 650;
  font-size: 1rem;
  letter-spacing: 1px;
}
.header__signUp--aGoogle {
  background-color: #4082ed;
  border: solid 1px #4082ed;
  transition: 0.5s;
}
.header__signUp--aEmail {
  background-color: #fff;
  border: solid 1px #fff;
  color: #531554;
  transition: 0.5s;
}
.header__signUp--aEmail:hover {
  border: 1px solid #531554;
  color: #531554;
  transition: 0.5s;
}
.header__signUp--aGoogle:hover {
  transition: 0.5s;
  border: solid 1px #531554;
}

.header__video {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
.header__video--demo {
  overflow: hidden;
  width: 30rem;
  margin-top: 30px;
}

.main {
  width: 100%;
}

.trust {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #f4ede3;
  padding-bottom: 40px;
}

.companies {
  padding-top: 30px;
  width: 100%;
  border: solid 1px solid red;
}
.companies__h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  word-spacing: 1px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.companies__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.companies__logos--img {
  width: 5em;
  padding-bottom: 20px;
}
.companies__logos--newYorkTimes {
  width: 12em;
}

.feature {
  margin-top: 70px;
}
.feature__dynamism--img {
  width: 350px;
}

.feature:nth-child(odd) {
  text-align: end;
}

.feature__content {
  padding: 15px;
}
.feature__content--h3 {
  font-size: 30px;
}
.feature__content--p {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.feature__content--a {
  color: #4370b4;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}
.feature__content--a:hover {
  text-decoration: underline;
}

.testimonials {
  background-color: #fff;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}
.testimonials__h2 {
  font-size: 32px;
  text-align: center;
}
.testimonials__p {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}
.testimonials__buttons {
  display: block;
  padding: 10px;
}
.testimonials__buttons--a {
  width: 100%;
  display: block;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  word-spacing: 1px;
}
.testimonials__buttons--aSlack {
  background-color: #531554;
  color: #fff;
  border: solid 1px #531554;
  transition: 0.5s;
}
.testimonials__buttons--aNormal {
  background-color: #fff;
  color: #531554;
  border: solid 1px #531554;
  transition: 0.5s;
}
.testimonials__buttons--aSlack:hover {
  background-color: #531554;
  transition: 0.5s;
  border: solid 1px #fff;
}
.testimonials__buttons--aNormal:hover {
  background-color: #531554;
  color: #fff;
  border: solid 1px #fff;
  transition: 0.5s;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 60px;
}
.statistics__block {
  width: 40%;
}
.statistics__block--p {
  text-align: center;
  margin: 10px;
  font-size: 14px;
  padding-bottom: 10px;
}

.percentage {
  font-size: 60px;
  color: #531554;
  font-weight: bold;
}

.testimony {
  width: 100%;
}
.testimony__caption {
  margin-top: 70px;
  margin-bottom: 70px;
}
.testimony__caption--video {
  width: 100%;
  border-radius: 0px 150px 150px 0px;
  margin-left: -15px;
}
.testimony__message {
  width: 95%;
  padding-left: 15px;
  line-height: 30px;
}
.testimony__message--cite {
  font-size: 20px;
}
.testimony__message--address {
  padding-top: 20px;
  font-weight: bolder;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  padding-bottom: 10px;
}
.testimony__message--a {
  color: #4370b4;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}
.testimony__caution {
  width: 90%;
  padding-top: 60px;
  padding-bottom: 10px;
}
.testimony__caution--p {
  text-align: center;
  color: #6c6c6c;
  font-size: 14px;
}

.addFeatures {
  background-color: #f4ede3;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.addFeatures__h2 {
  text-align: center;
  width: 90%;
}
.addFeatures__a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  transition: 0.3s;
}
.addFeatures__a:hover {
  transition: 0.3s;
}

.addFeatures__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 400%;
  margin: auto;
  transition: 0.5s;
  transform: translateX(-50%);
}

.addFeatures__caption {
  width: 60%;
  background-color: #fff;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
}
.addFeatures__caption--p {
  color: rgb(62, 62, 62);
  font-weight: 500;
  font-size: 15px;
}
.addFeatures__caption--h3 {
  font-size: 22px;
  color: black;
  padding-right: 15px;
}
.addFeatures__caption--link {
  color: #4370b4;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  word-spacing: 1px;
}

.addFeatures__carrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.addFeatures__carrusel--span::before {
  content: "";
  background-color: #c1bebe;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}
.addFeatures__carrusel .span__active {
  background-color: orange;
  border-radius: 50%;
  display: block;
}

.cta {
  width: 100%;
  background-color: #531554;
  height: 500px;
  padding-top: 70px;
  clip-path: ellipse(100% 80% at center top);
}
.cta__h2 {
  color: #fff;
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
.cta__buttons {
  display: block;
  width: 95%;
  margin-left: 15px;
}
.cta__buttons--a {
  display: block;
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;
}
.cta__buttons--aNormal {
  background-color: #fff;
  border: solid 1.5px #fff;
  transition: 0.5s;
  font-weight: bolder;
  color: #531554;
}
.cta__buttons--aSlack {
  background-color: #531554;
  color: #fff;
  border: solid 1px #fff;
  transition: 0.5s;
  font-weight: bolder;
}
.cta__buttons--aNormal:hover {
  border: solid 1.5px #531554;
  transition: 0.5s;
}
.cta__buttons--aSlack:hover {
  background-color: white;
  color: #531554;
  transition: 0.5s;
  border: solid 1px #531554;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.footerSup {
  width: 100%;
  position: relative;
}
.footerSup__img {
  width: 70px;
  padding-left: 20px;
}

.footerSup::after {
  display: block;
  content: "";
  height: 2px;
  width: 90%;
  position: absolute;
  background-color: #ebeaeb;
  left: 4vw;
  right: 4vw;
}

.footerSupMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footerSupMenu__accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.footerSupMenu__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.footerSupMenu__span {
  padding-left: 5px;
  padding-right: 10px;
}
.footerSupMenu__h5 {
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 5px;
  position: relative;
  padding-left: 20px;
}
.footerSupMenu__h5:hover {
  transition: 0.3s;
  color: #4082ed;
}
.footerSupMenu__ul {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  list-style-type: none;
  width: 100%;
}
.footerSupMenu__li {
  list-style: none;
  list-style-type: none;
  padding-left: 20px;
}
.footerSupMenu__a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.footerSupMenu__a:hover {
  color: #4370b4;
  transition: 0.3s;
}

.block--active .footerSupMenu__ul {
  height: 10em;
}

.footerInf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex-wrap: wrap;
}
.footerInf__politics {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footerInf__politics--ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  margin-left: -25px;
}
.footerInf__politics--li {
  list-style: none;
  padding-top: 15px;
}
.footerInf__politics--a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}
.footerInf__politics--a:hover {
  color: #4370b4;
  transition: 0.3s;
}
.footerInf__rrss {
  width: 100%;
  margin-left: -15px;
}
.footerInf__rrss--ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footerInf__rrss--li {
  list-style: none;
}
.footerInf__rrss--img {
  width: 25px;
}
.footerInf__copyright {
  font-size: 13px;
  margin-left: 15px;
}

@media screen and (min-width: 1600px) {
  .header__inFront {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 70%;
    padding-bottom: 50px;
  }
  .aboveTheFold__h1 {
    text-align: left;
  }
  .aboveTheFold__p {
    text-align: left;
  }
  .feature {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 70%;
    margin: 0 auto;
    padding-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .feature__dynamism {
    width: 300px;
    flex: 1;
  }
  .feature__dynamism--img {
    width: 300px;
  }
  .feature:nth-child(odd) {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 50px;
  }
  .feature__content {
    width: 40%;
    text-align: left;
  }
  .addFeatures__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .addFeatures__caption {
    width: 290px;
  }
  .cta {
    margin: auto;
  }
  .cta__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .cta__buttons--aNormal {
    width: 250px;
  }
  .cta__buttons--aSlack {
    width: 350px;
  }
  .footerSupMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .footerSupMenu__accordion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: left;
    flex-wrap: wrap;
  }
  .footerSupMenu__block {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    flex-wrap: wrap;
    padding-right: 20px;
  }
  .footerSupMenu__h5 {
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
  }
  .footerSupMenu__h5:hover {
    color: black;
    cursor: auto;
  }
  .footerSupMenu__span {
    display: none;
  }
  .footerSupMenu__ul {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .footerSupMenu__li {
    width: 100%;
  }
  .footerSupMenu__a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
  }
  .footerSupMenu__a:hover {
    color: #4370b4;
    transition: 0.3s;
  }
  .block--active {
    display: block;
  }
}
@media screen and (max-width: 1600px) {
  .nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #531554;
    position: absolute;
  }
  .nav__elements {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
  }
  .nav__elements--ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
  .nav__elements--a {
    color: black;
  }
  .nav .activo {
    height: 100vh;
    transition: 0.5s;
  }
  .nav__signUpLinks {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .nav__signUpLinks--a {
    color: black;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 50px;
  }
  .nav__signUpLinks--a:hover {
    text-decoration: none;
  }
  .nav__signUpLinks--aNormal {
    border: solid 2px #531554;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
    color: #531554;
  }
  .nav__signUpLinks--aNormal:hover {
    background-color: #531554;
    color: #fff;
    border: solid 2px #fff;
  }
  .nav__signUpLinks--aSlack {
    border: solid 2px #531554;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 15px;
    color: white;
    background-color: #531554;
  }
  .nav__signUpLinks--aSlack:hover {
    border: solid 2px #531554;
    background-color: #fff;
    color: #531554;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #531554;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav__logo {
    flex: 5;
    justify-content: flex-start;
    cursor: pointer;
  }
  .nav__logo--h5 {
    color: white;
    cursor: pointer;
  }
  .navbar__button {
    display: block;
    cursor: pointer;
    background-color: #531554;
    border: none;
  }
  .navbar__button--svg {
    border: none;
    float: right;
    height: 2rem;
    width: 2rem;
    fill: white;
  }
  .aboveTheFold {
    padding-top: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
